* {
	box-sizing: border-box;
}

body {

	font-family: sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

#container .child1 {
	font-family: Segoe Print;
	font-size: 2rem;
	color: black;   
	text-align:center;
}

.content {
	max-width: 800px;
	margin: 0 auto;
	padding: 40px 0;
}

h1 {
	text-align: center;
	font-size: 50px;
	margin-bottom: 20px;
}

p {
	font-size: 18px;
	line-height: 1.5;
}

.image-container {
	
}

.image-container img {
	max-width: 100%;
	height: auto;
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

.fade-in {
	animation-name: fadeIn;
	animation-duration: 2s;
}