.container {
	text-align: center;
}

.container h1 {
	/* Stick border to text */
	display: inline-block;
	border: 4px solid white;
	/* Oval border */
	border-radius: 50%;
	/* Put gap between border and text */
	padding: 20px;
	color: white;
}

body {
    background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/iss044e045542.jpg");
	background-size: cover;
	background-repeat: repeat;
}
